@font-face {
  font-family: 'Windows95Font'; /* This is the name you'll use in your styles */
  src: url('./assets/w95fa.woff') format('woff'); /* Path to your font file */
  font-weight: normal; /* Optional */
  font-style: normal; /* Optional */
}
body, html{
  margin: 0;
  height: 100%;
  
}
body{
  background-color: rgb(54, 63, 100);
  display: flex;
  justify-content: center;
  align-content: center;
}
.bottomBar{
  height: 8%;
  margin: 0;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(187, 187, 187);

  width: 100%;

  bottom: 0;
  border-top: 1px solid rgb(197, 197, 197); /* Gray border */
  box-shadow: 0 -1px 0 0 white; /* White border above the gray */
}
.gridContainer {
  display: grid;
  position: absolute;  /* Position it in the top-left corner */
  grid-template-rows: repeat(4, 2fr);  /* 7 rows, 1 item per row */
  grid-template-columns: repeat(2,1fr);
  gap: 10px;  /* Space between items */
  top: 17px;
  left: 17px;
  max-height: 80%;
  width: 14%;
  height: 10%;
  
}
.iconBox{
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  padding-bottom: 0;
  cursor: pointer;
}
.iconBox:hover{
  transition: 0.1s;
  background-color: rgba(39, 39, 39, 0.404);
}

.description{
  display: flex;
  justify-content: center;

}
@media (max-width: 999px) {

  .aboutMeScreen{
    flex-direction: column;
  }
  .description{
    max-width: 100%;
    font-size: 1.1rem;

  }
  .aboutMeScreen{
    justify-content: flex-start;
    align-items: center;
    top: 15%;
  }
  .email{
    display: none;
  }
  .ProjectGrid{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(2,1fr);
  }
}

/* For medium and larger screens */
@media (min-width: 1000px) {
  .ProjectGrid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
  }
  .projects {
    background-color: lightgreen;
    max-width: 100%;
  }
  .aboutMeScreen{
    display: block;
    align-items: flex-start;
    top: 20%;
  }
  .description{
    font-size: 1.3rem;
  }
  .email{
    display: flex;
  }
  
}

